/* single businessman card style */
.service {
    /* text-align: center; */
    border: 1px solid #1AA79E;
    border-radius: 5px;
    background-color: snow;
    transition: 0.5s;

}

/* image style */
.img-div img {
    /* border-radius: 50%; */
    height: 150px;
    width: 150px;
}

/* hover effect on single person */
.businessman:hover {
    box-shadow: 5px 5px 10px #41B5AE;
    border-radius: 5px;
    border: 1px solid #41B5AE;
  }

/* main button style */
.button-main {
    background-color: rgb(247, 189, 45);
    width: 120px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

